header{
  background-color: #ff8300;
  text-align: center;
  font-size: xx-large;
  width: 100%;
  margin-top: 0;
  color: black;
}

h1{
  margin: 0;
}
body{
    margin: 0;
    font-family: 'Helvetica-bold', 'Arial-bold', sans-serif;
    color: #444444;
    font-size: 9pt;
    width: 100%;
    background-color: #f8f8ff;
}
#loading{
    text-align: center;
    font-size: 125px;
}
.img-container{
 background-color:  #ecf0f1 ;
  width: 100%;
}
div.gallery img {
padding-top: 15px;
padding-bottom: 15px;
  width: 75%;
  height: auto;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.desc p{
    margin:0;
}
h2{margin: 0;}
div.desc {
  border-top:2px solid #cccccc47;
  height: 50%;
  padding: 15px;
  padding-top: 0px;
  text-align: center;
}
#container{
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  border-collapse:separate;
  border-spacing:3px;
  display: flex;
  flex-direction: row;

}
div.problem{
    border: 1px solid rgba(219, 85, 85); 
    height: fit-content;
    background: rgba(219, 85, 85, 0.724);
    width: fit-content;
    padding-right: 1px;
    padding-left: 1px;
    border-radius: 1px;
    display: inline-block;
    margin:1px
    
}
html, body { height: 100% }
div.ok{
  border : 1px solid rgba(71, 185, 105, 0.982); 
  height: fit-content;
  background: rgba(85, 219, 125, 0.649);
  width: fit-content;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 1px;
  display: inline-block;
  
}
div.problem p,div.ok p{
    margin:1px;
    /* font-size: 14px; */
}
/* #container > * {
  display: inline;
} */
.gallery {
  
  max-width: 261px;
  flex-shrink: 1;
  background-color:   #f0f3f4  ;
  margin: 5px;
  border: 2px solid #cccccc47;
  width: 180px;
}
html {
  height: 100%;
}

footer {
  position: absolute;

  width: 100%;
  text-align: center;
}

.login{
  font-family: 'Helvetica-bold', 'Arial-bold', sans-serif;
  font-size: large;
  margin-top: 5px;
  background-color: #3582c4;
  color: white;
  border: 1px solid #ccc;
  padding: 5px;
}
/* 
@keyframes slideaway {
  from { max-height: 0px; }
  to {max-height: 100%;}
} */


.video_div{
  /* animation: slideaway 4000ms; */
  width: 100%;
  display:none;
  background-color:   #f0f3f4  ;
  margin: 5px;
  border: 2px solid #cccccc47;
  padding:5px 0px;
}
video{
  display: block;
  margin:auto;
  border-radius: 5px;
}
