<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/edit.css">
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הצג סרטון</title>
</head>
<body>
    <ul>
        <li><a  href="/edit">Edit Dashboard</a></li>
        <li><a  href="/announce">Announce</a></li>
        <li><a href="/users">Edit Users</a></li>
        <li><a class="active" href="/video">Display Video</a></li>

        <li style="margin-left: auto;"><a href="/logout">logout</a></li>
    </ul>
    <div id="container" class="container">
        <h1>Display Video</h1>

        <form method="post">
        <label for="video">Video:</label>
        <select class="room" name="video" id="video">
            {% for x in videos%}
            <option value="{{x}}">{{x}}</option>

            {%endfor%}
          </select>
          <br>
          <label>Link:</label>
      <input style="padding: 5px 5px;" class="room" type="text" name="link">


          <input type="submit" class="submit" value="Change">


    </form>
    </div>
</body>
</html>